{{#if @priorityInput}}
  <label><code>keyboardPriority</code>:</label>
  <input
    value={{this.keyboardPriority}}
    oninput={{action (mut this.keyboardPriority) value="target.value"}}
    class="input-field"
    data-test-counter-priority-input
  >

{{/if}}

{{#if @activatedToggle}}
  <label><code>keyboardActivated</code>:</label>
  <Input
    @type="checkbox"
    @checked={{this.toggleActivated}}
    class="checkbox"
    data-test-counter-activated-toggle
  />
{{/if}}

{{#if @firstResponderToggle}}
  <label><code>keyboardFirstResponder</code>:</label>
  <Input
    @type="checkbox"
    @checked={{this.keyboardFirstResponder}}
    class="checkbox"
    data-test-counter-first-responder-toggle
  />
{{/if}}

{{#if this.laxPriorityToggle}}
  <label><code>keyboardLaxPriority</code>:</label>
  <Input
    @type="checkbox"
    @checked={{this.keyboardLaxPriority}}
    class="checkbox"
    data-test-counter-lax-priority-toggle
  />
{{/if}}

{{#if @stopImmediatePropagationToggle}}
  <label><code>stopImmediatePropagation()</code>:</label>
  <Input
    @type="checkbox"
    @checked={{this.stopImmediatePropagation}}
    class="checkbox"
    data-test-counter-stop-immediate-propagation-toggle
  />
{{/if}}

{{#if @stopPropagationToggle}}
  <label><code>stopPropagation()</code>:</label>
  <Input
    @type="checkbox"
    @checked={{this.stopPropagation}}
    class="checkbox"
    data-test-counter-stop-propagation-toggle
  />
{{/if}}

<div data-test-counter-counter>{{this.counter}}</div>
