{{#if @priorityInput}}
  <label><code>keyboardPriority</code>:
  <input
    value={{this.keyboardPriority}}
    oninput={{fn (pick 'target.value' (set this 'keyboardPriority'))}}
    class="input-field"
    data-test-counter-priority-input
  >
  </label>

{{/if}}

{{#if @activatedToggle}}
  <label><code>keyboardActivated</code>:
  <Input
    @type="checkbox"
    @checked={{this.toggleActivated}}
    class="checkbox"
    data-test-counter-activated-toggle
  />
  </label>
{{/if}}

{{#if @firstResponderToggle}}
  <label><code>keyboardFirstResponder</code>:
  <Input
    @type="checkbox"
    @checked={{this.keyboardFirstResponder}}
    class="checkbox"
    data-test-counter-first-responder-toggle
  />
  </label>
{{/if}}

{{#if this.laxPriorityToggle}}
  <label><code>keyboardLaxPriority</code>:
  <Input
    @type="checkbox"
    @checked={{this.keyboardLaxPriority}}
    class="checkbox"
    data-test-counter-lax-priority-toggle
  />
  </label>
{{/if}}

{{#if @stopImmediatePropagationToggle}}
  <label><code>stopImmediatePropagation()</code>:
  <Input
    @type="checkbox"
    @checked={{this.stopImmediatePropagation}}
    class="checkbox"
    data-test-counter-stop-immediate-propagation-toggle
  />
  </label>
{{/if}}

{{#if @stopPropagationToggle}}
  <label><code>stopPropagation()</code>:
  <Input
    @type="checkbox"
    @checked={{this.stopPropagation}}
    class="checkbox"
    data-test-counter-stop-propagation-toggle
  />
  </label>
{{/if}}

<div data-test-counter-counter>{{this.counter}}</div>
