<span class="counter-container" ...attributes>
  {{#if @priorityInput}}
    <label><code>keyboardPriority</code>:</label>
    <input
      class="input-field"
      data-test-counter-priority-input
      value={{this.keyboardPriority}}
      oninput={{fn (pick 'target.value' (set this 'keyboardPriority'))}}
    >
  {{/if}}

  {{#if @activatedToggle}}
    <label><code>keyboardActivated</code>:</label>
    <input
      type="checkbox"
      data-test-counter-activated-toggle
      checked={{this.toggleActivated}}
      onclick={{fn (pick "target.checked" (set this 'toggleActivated'))}}
    >
  {{/if}}

  {{#if @firstResponderToggle}}
    <label><code>keyboardFirstResponder</code>:</label>
    <input
      type="checkbox"
      data-test-counter-first-responder-toggle
      checked={{this.keyboardFirstResponder}}
      onclick={{fn (pick "target.checked" (set this 'keyboardFirstResponder'))}}
    >
  {{/if}}

  {{#if @laxPriorityToggle}}
    <label><code>keyboardLaxPriority</code>:</label>
    <input
      type="checkbox"
      data-test-counter-lax-priority-toggle
      checked={{this.keyboardLaxPriority}}
      onclick={{fn (pick "target.checked" (set this 'keyboardLaxPriority'))}}
    >
  {{/if}}

  {{#if @stopImmediatePropagationToggle}}
    <label><code>stopImmediatePropagation()</code>:</label>
    <input
      type="checkbox"
      data-test-counter-stop-immediate-propagation-toggle
      checked={{this.stopImmediatePropagation}}
      onclick={{fn (pick "target.checked" (set this 'stopImmediatePropagation'))}}
    >
  {{/if}}

  {{#if @stopPropagationToggle}}
    <label><code>stopPropagation()</code>:</label>
    <input
      type="checkbox"
      data-test-counter-stop-propagation-toggle
      checked={{this.stopPropagation}}
      onclick={{fn (pick "target.checked" (set this 'stopPropagation'))}}
    >

  {{/if}}

  <div data-test-counter-counter>{{this.counter}}</div>

</span>
