<h2>Mixins</h2>

<h3>Instructions</h3>
<ul>
  <li>Click on a button to insert a component with named Mixin</li>
  <li>If it needs to be focused to activate, click or focusIn to it</li>
</ul>

<h3>Active Key Responders</h3>
{{keyboard-responder-list}}

<button id='activate_on_focus_button' {{action 'toggleMixin' 'activateWhenFocused'}}>ActivateKeyboardOnFocus</button>
<button id='activate_on_insert_button' {{action 'toggleMixin' 'activateWhenPresent'}}>ActivateKeyboardOnInsert</button>
<button id='first_responder_button' {{action 'toggleMixin' 'EKEKFirstResponderOnFocus'}}>KeyboardEKEKFirstResponderOnFocus</button>
<button id='first_responder_on_focus_button' {{action 'toggleMixin' 'EKEKFirstResponderOnFocusWhenFocused'}}>KeyboardEKEKFirstResponderOnFocusOnFocus</button>

{{#if activateWhenFocused}}
  {{activate-when-focused}}
{{/if}}

{{#if activateWhenPresent}}
  {{activate-when-present}}
{{/if}}

{{#if EKEKFirstResponderOnFocus}}
  {{first-responder}}
{{/if}}

{{#if EKEKFirstResponderOnFocusWhenFocused}}
  {{first-responder-when-focused}}
{{/if}}
