<div data-test={{hook "key_down"}}>{{keyDown}}</div>
<div data-test={{hook "key_down_with_mods"}}>{{keyDownWithMods}}</div>
<div data-test={{hook "key_press"}}>{{keyPress}}</div>
<div data-test={{hook "key_up"}}>{{keyUp}}</div>
