<span data-test-ctrl-k>
  {{if this.wasCtrlKPressed 'Ctrl+K pressed' 'Ctrl+K not pressed'}}
</span>

{{on-key 'ctrl+k' (fn (mut this.wasCtrlKPressed) true)}}

<hr />


<span data-test-s>
  {{if this.wasSPressed 'S pressed' 'S not pressed'}}
</span>

{{on-key 'KeyS' (fn (mut this.wasSPressed) true)}}

<hr />


<span data-test-slash>
  {{if this.wasSlashPressed 'slash pressed' 'slash not pressed'}}
</span>

{{on-key 'Slash' (fn (mut this.wasSlashPressed) true)}}

<hr />


<span data-test-question-mark>
  {{if this.wasQuestionMarkPressed 'question mark pressed' 'question mark not pressed'}}
</span>

{{on-key 'shift+Slash' (fn (mut this.wasQuestionMarkPressed) true)}}
