{{search-bar}}

<aside class='counter-aside'>
  <h2>Basic Functionality</h2>
  <ul>
    <li>Press `ctrl+s` to focus the search-bar</li>
    <li>Press the left and right arrow keys to adjust the counters</li>
    <li>Click or focusIn on an individual counter and adjust</li>
    <li>Press `ctrl+shift+a` to open the counter modal</li>
    <li>Note that when you adjust the modal's counter, the stand-alone counters are unchanged</li>
    <li>Press `Esc` to close the modal</li>
  </ul>
  {{counter-box classNames='standalone-counter'}}
  {{counter-box classNames='standalone-counter'}}
  {{counter-box classNames='standalone-counter'}}
</aside>

{{#modal-container modalKeyboardPriority=1}}
  {{counter-box classNames='modal-counter' keyboardPriority=1}}
{{/modal-container}}

{{textarea classNames='textarea' placeholder='Events won\'t bubble while inputs and textareas are focused'}}
